header{
    display: flex;
}
.img{
    width: 30%;
}
.img img{
    width: 30%;
}

.navegacao{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacao a{
    text-decoration: none;
    margin: 10px;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    
}