*{
    margin: 0%;
    padding: 0%;
}

header{
    display: flex;
}

.img{
    width: 30%;
}

.img img{
    width: 30%;
}

.navegacao{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacao a{
    text-decoration: none;
    margin: 10px;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    
}

main{
    height: 100vh;
}

.principal img{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.principal{
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    display: flex;
    bottom: 0%;
    position: fixed;
    background-color: #1b357e;
    width: 98%;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}



.redes p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.redes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-rodape{
    display: flex;
    color: white;
    align-items: end;
}

@media (max-width: 750px) {
    .img img{
       width: 60%;
    }

    .navegacao a {
        font-size: 15px;
    }
    
    .principal {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 200px;
    }

    .redes p {
        font-size: small;
    }

    .redes img{
        width: 25px;
    }

    .img-rodape{
        font-size: small;
    }

    .img-rodape img{
        width: 55px;
    }
}